
.header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    margin: 0;
    padding: 0;
}

.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .6rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.logo h1{
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--primary-color);
}
.logo p {
    padding: 0;
    margin-top: -35px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 2.7rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    margin-top: -40px;
}
.nav__item a {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}
.nav__icons {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.nav__icons span i, .mobile__menu{
    font-size: 2.5rem;
    color: var(--primary-color);
    cursor: pointer;
}
.mobile__menu{
    display: none;
}

.nav__active {
    font-weight: 800 !important;
}

.cart__icon, .fav__icon {
    position: relative;
}
.badge {
    position: absolute;
    bottom: 55%;
    left: -5px;
    width: 25px;
    height: 25px;
    content: '';
    background-color: var(--primary-color);
    border-radius: 50px;
    font-weight: 600;
    z-index: 10;
    padding: 0;
}
.badge p {
    color: white;
    padding: 0;
}

.sticky__header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background: #e2f2b2;
}

@media only screen and (max-width: 768px){
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0,0,0,0.53);
        z-index: 9999;

    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .active__menu {
        display: block;
    }
    .mobile__menu{
        display: block;
    }
    .mobile__menu i {
        font-size: 1.6rem !important;
    }
    .logo h1{
        font-size: 1rem;
    }
    .fav__icon i, .cart__icon i, .user__icon i {
        font-size: 1.6rem !important;
    }
    .header {
        width: 100%;
        height: 70px;
        line-height: 70px;
    }
}
